.blog-priview h2{
  font-size: 20px;
  color: darkcyan;
  margin: 8px;
}

.blog-priview a{
  text-decoration: none;
}
.blog-detailes h2{
font-size: 20px;
color: #f1356d;
margin: 10px;
}
.blog-detailes div{
  margin: 20px 0;
}
.blog-detailes button{
  background-color: #f1356d;
  color: #fff;
  border: 0;
  padding: 8px;
  border-radius: 8px;
  cursor: pointer;
}

.create {
  max-width: 400px;
  margin: 0 auto;
  text-align: center;
}
.create label{
  text-align: left;
  display: block;
}
.create h2{
font-size: 20px;
color: #f1356d;
margin-bottom: 30px;
}
.create input, .create textarea, .create select{
  width: 100%;
  padding: 6px 10px;
  margin: 10px 0px;
  border: 1px solid #ddd;
  box-sizing: border-box;
  display: block;
}

.create button{
  background: #f1356d;
  color: #fff;
  border: 0px;
  padding: 0px;
  border-radius: 8px;
  cursor: pointer;
}

